@using Crib.Models
@model List<Content>

@{Layout = "~/Views/Shared/_Layout.cshtml";}

<h2>@ViewBag.Title</h2>



<div class="content">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            @foreach (Content BlockContent in Model)
            {

                switch (BlockContent.LangID)
                {
                    case (int)LangEnum.HTML:
                        @Html.Raw(BlockContent.BlockContent)
                        break;

                    case (int)LangEnum.Charp:
                    <script type="syntaxhighlighter" class="brush: csharp">
                        <![CDATA[
                        @Html.Raw(BlockContent.BlockContent)
                        ]]>
                    </script>
                        break;

                }
                <br />
            }
        </div>
    </div>
</div>


